.brands {
    position: relative;
    width: 100%;
    height: 150vh;
}

.brands_google_reviews {
    position: absolute;
    top: -17%;
    z-index: 1;
    width: 15%;
    right: 10%;
    transition: .2s;
    &:hover {
        cursor: pointer;
        transform: scale(1.1);
    }
}

.brands_bg_vector {
    position: absolute;
    top: -12%;
}

.brands_read_more {
    position: absolute;
    top: -11%;
    z-index: 1;
    width: 20%;
    right: 40%;
    border: none;
    background-color: #616161;
    font-family: 'EquitanSans';
    font-weight: 800;
    color: white;
    font-size: 3rem;
    border-radius: .5rem;
    padding-right: .5rem;
    padding-left: .5rem;
    padding-top: .15rem;
    padding-bottom: -1rem;
    box-shadow: 2.5px 5px 4px rgba(0, 0, 0, 0.25);
    transition: .1s;

    &:hover {
        cursor: pointer;
        background-color: #959595;
    }

}

.brands_text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.brands_h1 {
    position: absolute;
    top: 3%;
    z-index: 1;
    color: white;
    font-family: 'EquitanSans';
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
    span {
        color: #FFC700;
    }
}

.brands_page {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 170vh;
    background-color: #2E2E2E;
    top: 25%;
}

.brands_page_shadow {
    position: absolute;
    top: 0;
    width: 100%;
    height: 2%;
    background-color: black;
    opacity: .1;
}

.brands_grid {
    display: grid;
    gap: 4%;
    grid-template-columns: repeat(4, 15%);
    grid-template-rows: repeat(4, 35%);
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 80%;
}

.grid_1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60%;
}

@media (max-width: 1385px) {
    .brands_read_more {
        top: -11%;
        z-index: 1;
        width: 30%;
        right: 35%;
        font-size: 2.5rem;
    }
    .brands_google_reviews {
        top: -15%;

    }
}

@media (max-width: 950px) {
    .brands_h1 {
        font-size: 2.5rem;
    }
}


@media (max-width: 800px) {
    .brands_read_more {
        top: -13%;
        z-index: 1;
        width: 30%;
        right: 35%;
        font-size: 2rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .brands_google_reviews {
        top: -14%;
        width: 18%;
    }
}

@media (max-width: 730px) {
    .brands_h1 {
        font-size: 2rem;
    }
    .brands_google_reviews {
        width: 18%;
    }
}

@media (max-width: 630px) {
    .brands_read_more {
        font-size: 1.5rem;
    }
    .brands_h1 {
        font-size: 1.75rem;
    }
}

//////////////////////

@media (max-width: 1150px) {
    .grid_1 {
        height: 70%;
    }
    .brands_grid {
        display: grid;
        gap: 4%;
        grid-template-columns: repeat(4, 15%);
        grid-template-rows: repeat(4, 35%);
        justify-content: center;
        height: 60%;
    }
    .brands {
        height: 110vh;
    }
}

@media (max-width: 980px) {
    .grid_1 {
        height: 60%;
    }
}

@media (max-width: 860px) {
    .grid_1 {
        height: 55%;
    }
    .brands_grid {
        height: 60%;
        gap: 7%;
    }
    .brands_grid {
        margin-top: -40%;
        grid-template-columns: repeat(3, 15%);
        grid-template-rows: repeat(4, 35%);
    }
}


@media (max-width: 750px) {
    .grid_1 {
        height: 55%;
    }
    .brands_grid {
        height: 50%;
        gap: 7%;
    }
    .brands_grid {
        margin-top: -40%;
        grid-template-columns: repeat(3, 15%);
        grid-template-rows: repeat(4, 35%);
    }
}

@media (max-width: 600px) {
    .grid_1 {
        height: 50%;
    }
    .brands_grid {
        height: 50%;
        row-gap: 2%;
        column-gap: 9%;
    }
    .brands_grid {
        margin-top: -40%;
        grid-template-columns: repeat(3, 20%);
        grid-template-rows: repeat(4, 40%);
    }
}

@media (max-width: 540px) {
    .brands_grid {
        height: 45%;
    }
}

@media (max-width: 450px) {
    .brands_grid {
        margin-top: -40%;
        grid-template-columns: repeat(2, 15%);
        grid-template-rows: repeat(6, 35%);
    }
    .brands {
        height: 120vh;
    }
}

////brands grid

@media (max-width: 530px) {
    .brands_grid {
        grid-template-columns: repeat(3, 20%);
        grid-template-rows: repeat(4, 40%);
    }

}

@media (max-width: 450px) {
    .brands_grid {
        column-gap: 1.5rem;
        grid-template-columns: repeat(3, 20%);
        grid-template-rows: repeat(4, 35%);
    }

}

@media (max-width: 350px) {
    .brands_grid {
        margin-top: -180%;
        column-gap: 2rem;
        grid-template-columns: repeat(2, 30%);
        grid-template-rows: repeat(6, 30%);
    }
    .brands_page {
        height: 230vh;
    }

}

//furthur button adjustments

@media (max-width: 490px) {

    .brands_read_more {
        top: -13%;
        width: 35%;
        right: 32.5%;
        font-size: 1.25rem;
        padding-top: .5rem;
        padding-bottom: .5rem;
    }
    .brands_h1 {
        font-size: 1.4rem;
    }
    .brands {
        height: 80vh;
    }
}

@media (max-width: 420px) {
    .brands_h1 {
        font-size: 1.2rem;
    }
}

@media (max-width: 370px) {
    .brands {
        height: 65vh;
    }
}

@media (max-width: 360px) {

    .brands_read_more {
        top: -13%;
        width: 35%;
        right: 32.5%;
        font-size: .93rem;
        padding-top: .5rem;
        padding-bottom: .5rem;
    }
    .brands_h1 {
        font-size: 1.13rem;
    }
}

@media (max-width: 340px) {
    .brands_h1 {
        font-size: 1rem;
    }
}

@media (max-width: 300px) {
    .brands_h1 {
        font-size: .95rem;
    }
}