.home_three {
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: #6E6E6E;
    gap: 10%;
}

.home_three_container {
    gap: 7%;
    position: absolute;
    display: flex;
    width: 100%;
    height: 19rem;
    bottom: 0;
    align-items: center;
    justify-content: center;
}

.home_three_text {
    width: 45%;
    height: 10rem;
    background-color: #2E2E2E;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'EquitanSans';
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    font-style: italic;
    border-radius: .5rem;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}

.home_three_button {
    width: 18%;
    height: 3rem;
    background-color: #f6f6f6;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #6E6E6E;
    font-family: 'EquitanSans';
    text-align: center;
    font-size: 1.75rem;
    font-weight: 800;
    padding: 0;
    border-radius: .3rem;
    border: none;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
    a {
        text-decoration: none;
        color: unset;
    }
    &:hover {
        cursor: pointer;
        background-color: #ffffff;
    }
}

@media (max-width: 1150px) {
    .home_three {
        height: 130vh;
    }
}

@media (max-width: 1000px) {
    .home_three_text {
        width: 55%;
        height: 10rem;
        font-size: 1.5rem;
    }
    .home_three_button {
        width: 20%;
        height: 3rem;
        font-size: 1.5rem;
    }
}

@media (max-width: 800px) {
    .home_three_text {
        width: 60%;
        height: 8rem;
        font-size: 1.3rem;
    }
    .home_three_button {
        width: 25%;
        height: 2.5rem;
        font-size: 1.5rem;
    }
}


@media (max-width: 650px) {
    .home_three_text {
        width: 60%;
        height: 7rem;
        font-size: 1.1rem;
    }
    .home_three_button {
        width: 25%;
        height: 2.5rem;
        font-size: 1.2rem;
    }
}

@media (max-width: 490px) {
    .home_three_text {
        width: 60%;
        height: 6rem;
        font-size: .95rem;
    }
    .home_three_button {
        width: 25%;
        height: 2.5rem;
        font-size: 1.1rem;
    }
    .home_three {
        height: 153vh;
    }
}

@media (max-width: 450px) {
    .home_three_container {
        gap: 3%;
    }
    .home_three_text {
        width: 60%;
        height: 5rem;
        font-size: .85rem;
    }
    .home_three_button {
        width: 30%;
        height: 2.5rem;
        font-size: 1rem;
    }
    .home_three {
        height: 153vh;
    }
}

@media (max-width: 400px) {
    .home_three_text {
        font-size: .7rem;
    }
}

@media (max-width: 370px) {
    .home_three_container {
        bottom: 6.5%;
        height: 5rem;
    }
}


@media (max-width: 350px) {
    .home_three_text {
        width: 75%;
    }
    .home_three_container {
        bottom: 1.5%;
        flex-direction: column;
        height: 10rem;
        gap: 10%;
    }
    .home_three {
        height: 210vh;
    }
    .home_three_button {
        width: 75%;
    }
}