.home_two {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 140vh;
    background-color: rgb(255, 255, 255);
    background-image: url("../images/light_ray_bg.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home_two_top {
    display: flex;
    flex-direction: row;
}

.home_two_top_left {
    margin-top: 4%;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 60%;
    font-family: 'EquitanSans';
    h1 {
        font-size: 3.2rem;
        margin: 0;
        padding: 0;
        width: 76%;
        margin-left: 17%;
    }
    p {
        font-size: 1.47rem;
        margin: 0;
        padding: 0;
        width: 76%;
        font-family: 'EquitanSans';
        font-style: italic;
        font-weight: 400;
        letter-spacing: 0.1em;
        margin-top: 2%;
        margin-left: 17%;
        span {
            color: #FF991C;
        }
    }
}

.home_two_top_right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    img {
        width: 65%;
        margin-top: 5%;
        margin-right: 10%;
    }
}

.home_two_schedule_button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: -3%;
    button {
        background-color: #FF9F01;
        border: none;
        color: white;
        font-family: 'EquitanSans';
        font-size: 2rem;
        font-weight: 700;
        padding-top: .1%;
        padding-bottom: .1%;

        padding-left: 2%;
        padding-right: 2%;
        border-radius: .5rem;
        filter: drop-shadow(0px 8px 0px #FFB335);
        margin-right: 5%;
        &:hover {
            background-color: rgb(254, 165, 22);
            cursor: pointer;
        }
    }

}

@media (max-width: 1250px) {
    .home_two_top_left {
        h1 {
            font-size: 2.5rem;
        }
        p {
            font-size: 1.2rem;
        }
    }
}

@media (max-width: 915px) {
    .home_two_top_left {
        h1 {
            font-size: 2rem;
        }
        p {
            font-size: .9rem;
        }
    }
    .home_two_top_right {
        width: 40%;
        img {
            width: 75%;
        }
    }
}

@media (max-width: 740px) {
    .home_two_top_left {
        h1 {
            font-size: 1.7rem;
        }
        p {
            font-size: .9rem;
        }
    }
    .home_two_top_right {
        width: 40%;
        img {
            width: 75%;
        }
    }
}

@media (max-width: 630px) {
    .home_two_top {
        flex-direction: column;
    }

    .home_two_top_left {
        width: 100%;
        h1 {
            text-align: center;
            width: 100%;
            font-size: 2rem;
            margin: 0;
            margin-bottom: 5%;
        }
        p {
            width: 70%;
            font-size: 1.1rem;
            margin: 0;
        }
    }
    .home_two_top_right {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 5%;
        img {
            width: 50%;
            margin: 0;
        }
    }
    .home_two {
        height: 165vh;
    }
    .home_two_schedule_button {
        margin-top: 20%;
    }
}

/// SCHEDULE BUTTON
@media (max-width: 580px) {
    .home_two_schedule_button {
        margin-top: 5%;
        button {
            font-size: 1.5rem;
        }
    }
}

@media (max-width: 555px) {
    .home_two {
        height: 150vh;
    }
}

@media (max-width: 450px) {
    .home_two_schedule_button {
        button {
            font-size: 1.2rem;
        }
    }
}

@media (max-width: 317px) {
    .home_two {
        height: 160vh;
    }
    .home_two_schedule_button {
        margin-top: -2%;
    }
}

/// more view height adjustments

@media (max-width: 800px) {
    .home_two {
        height: 105vh;
    }
    .home_two_schedule_button {
        margin-top: -12%;
    }
}

@media (max-width: 630px) {
    .home_two {
        height: 170vh;
    }
    .home_two_schedule_button {
        margin-top: 15%;
    }
}

@media (max-width: 565px) {
    .home_two {
        height: 160vh;
    }
    .home_two_schedule_button {
        margin-top: 8%;
    }
}

@media (max-width: 450px) {
    .home_two {
        height: 150vh;
    }
    .home_two_schedule_button {
        margin-top: 8%;
    }
    .home_two_top_left {
        h1 {
            font-size: 1.75rem;
        }
    }
}

@media (max-width: 410px) {
    .home_two_top_left {
        h1 {
            font-size: 1.55rem;
        }
    }
}

@media (max-width: 360px) {
    .home_two {
        height: 155vh;
    }
    .home_two_schedule_button {
        margin-top: 8%;
    }
}

@media (max-width: 350px) {
    .home_two_top_left {
        h1 {
            font-size: 1.35rem;
        }
    }
}

@media (max-width: 315px) {
    .home_two_top_left {
        h1 {
            font-size: 1.3rem;
        }
    }
}