.home_last {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 120vh;
    background-color: rgb(255, 255, 255);
    margin-bottom: 6%;
}

.home_last_banner {
    width: 100%;
    height: 30%;
    background-image: url("../images/areas_of_service_bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
    h1 {
        font-family: 'EquitanSans';
        font-weight: 800;
        font-size: 3rem;
        background: linear-gradient(90deg, #FFFFFF -26.47%, #FFFFFF 80.2%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }
}

.home_last_main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    background-image: url("../images/light_ray_bg.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home_last_left {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    margin-left: 11%;
    align-items: center;
    justify-content: center;
    gap: 3%;
}

.home_last_right {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    margin-right: 11%;
    gap: 3%;
    margin-left: 5%;
}

.utah_map_image {
    display: flex;
    width: 85%;
}

.home_last_buttons {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 85%;
    gap: 12%;
    
}

.home_last_book {
    border: none;
    font-family: 'EquitanSans';
    font-weight: 700;
    background: linear-gradient(180deg, #FFC700 0%, #FF9900 100%);
    border-radius: .2rem;
    color: white;
    box-shadow: 0px 3px 0px #FFB801;
    font-size: 1.4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .2rem;
    padding-bottom: .2rem;
    &:hover {
        cursor: pointer;
        filter: brightness(1.05);

    }
}

.home_last_phone {
    border: none;
    font-family: 'EquitanSans';
    font-weight: 700;
    background: #6E6E6E;
    border-radius: .2rem;
    color: white;
    box-shadow: 0px 3px 0px #464646;
    font-size: 1.4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .2rem;
    padding-bottom: .2rem;
    a {
        text-decoration: none;
        color: white;
    }
    &:hover {
        cursor: pointer;
        filter: brightness(1.05);

    }
}

.home_last_header {
    font-family: 'EquitanSans';
    font-size: 1.4rem;
    margin-top: 15%;
    h1 {
    margin: 0;
    padding: 0;
    }
}

.home_last_paragraph {
    p {
        font-family: 'EquitanSans';
        font-size: 1.4rem;
        margin: 0;
        padding: 0;
    }
}

.home_last_dropdown {
    display: flex;
    width: 100%;
}

.select_area {
    border: none;
    font-family: 'EquitanSans';
    font-weight: 700;
    background: linear-gradient(180deg, #FFC700 0%, #FF9900 100%);
    border-radius: .2rem;
    color: white;
    font-size: 1.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .2rem;
    padding-bottom: .2rem;
    width: 40%;
}

.home_last_areas {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 20%;
}

.home_last_areas_left {
    font-family: 'EquitanSans';
    font-weight: 200;
    font-size: 1.15rem;
}

.home_last_areas_right {
    font-family: 'EquitanSans';
    font-weight: 200;
    font-size: 1.15rem;
}

@media (max-width: 1250px) {
    .home_last_header {
        h1 {
            font-size: 2rem;
        }
    }
    .home_last_paragraph {
        p {
            font-size: 1.5rem;
        }
    }
}

@media (max-width: 1100px) {
    .home_last_header {
        margin-top: 25%;
        h1 {
            font-size: 2rem;
        }
    }
    .home_last_paragraph {
        p {
            font-size: 1.3rem;
        }
    }
    .home_last_areas_left {
        font-size: 1rem;
    }
    .home_last_areas_right {
        font-size: 1rem;
    }
}

@media (max-width: 870px) {
    .utah_map_image {
        width: 100%;
    }

    .home_last_header {
        margin-top: 33%;
        h1 {
            font-size: 1.8rem;
        }
    }
    .home_last_paragraph {
        p {
            font-size: 1.1rem;
        }
    }
    .home_last_areas_left {
        font-size: .9rem;
    }
    .home_last_areas_right {
        font-size: .9rem;
    }
}


@media (max-width: 730px) {
    .home_last_header {
        margin-top: 50%;
        h1 {
            font-size: 1.5rem;
        }
    }
    .home_last_paragraph {
        p {
            font-size: .9rem;
        }
    }
    .home_last_areas_left {
        font-size: .7rem;
    }
    .home_last_areas_right {
        font-size: .7rem;
    }
}

@media (max-width: 640px) {
    .home_last_header {
        margin-top: 62%;
    }
}

@media (max-width: 575px) {
    .home_last_right {
        margin-right: 0;
    }
    .home_last_main {
        flex-direction:column-reverse;
    }
    .home_last_header {
        margin-top: 5%;
    }
    .home_last_right {
        width: 70%;
        text-align: center;
    }
    .home_last_areas {
        align-items: center;
        text-align:start;
        justify-content: center;
    }
} 

@media (max-width: 450px) {
    .home_last_left {
        width: 55%;
    }
}

@media (max-width: 400px) {
    .home_last_left {
        width: 60%;
    }
    .utah_map_image {
        margin-top: -30%;
    }
}

@media (max-width: 311px) {
    .home_last_paragraph {
        p {
            font-size: .8rem;
        }
    }
    .home_last_areas_left {
        font-size: .6rem;
    }
    .home_last_areas_right {
        font-size: .6rem;
    }
    .utah_map_image {
        margin-top: -70%;
    }
}

///////////buttons

@media (max-width: 1350px) {
    .home_last_buttons {
        width: 100%;
        gap: 8%;
    }
    .home_last_book {
        font-size: 1.2rem;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: .4rem;
        padding-bottom: .4rem;
    }
    .home_last_phone {
        font-size: 1.2rem;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: .4rem;
        padding-bottom: .4rem;
    }
}

@media (max-width: 1020px) {
    .home_last_book {
        font-size: 1rem;
        padding-left: .5rem;
        padding-right: .5rem;
    }
    .home_last_phone {
        font-size: 1rem;
        padding-left: .5rem;
        padding-right: .5rem;
    }
}

@media (max-width: 780px) {
    .home_last_book {
        font-size: .85rem;
    }
    .home_last_phone {
        font-size: .85rem;
    }
}


@media (max-width: 680px) {
    .home_last_book {
        font-size: .75rem;
    }
    .home_last_phone {
        font-size: .75rem;
    }
}


@media (max-width: 615px) {
    .home_last_book {
        font-size: .69rem;
    }
    .home_last_phone {
        font-size: .69rem;
    }
}

@media (max-width: 575px) {
    .home_last_book {
        font-size: .85rem;
    }
    .home_last_phone {
        font-size: .85rem;
    }
}

@media (max-width: 350px) {
    .home_last_book {
        font-size: .75rem;
    }
    .home_last_phone {
        font-size: .75rem;
    }
}


@media (max-width: 320px) {
    .home_last_book {
        font-size: .645rem;
    }
    .home_last_phone {
        font-size: .645rem;
    }
}

@media (max-width: 500px) {
    .home_last_banner {
        h1 {
            font-size: 2.5rem;
        }
    }
}


@media (max-width: 400px) {
    .home_last_banner {
        h1 {
            font-size: 2rem;
        }
    }
}

@media (max-width: 320px) {
    .home_last_banner {
        h1 {
            font-size: 1.75rem;
        }
    }
}