.nav {
    position: sticky;
    top: 0;
    z-index: 4;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 6.5vh;
}

.nav {
    display: flex;
    flex-direction: row;
    background: #FF991C;
    box-shadow: 0px 7px 4px rgba(0, 0, 0, 0.1);
    img {
        width: 12rem;
        margin-top: -0.3rem;
        margin-left: 5rem;
    }
}

.phone {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    font-size: 1.07rem;
}

.nav_link {
    text-decoration: none;
    color: white;
    font-family: 'EquitanSans';
    &:hover {
        cursor: pointer;
    }
    h3 {
        background-image: linear-gradient(90deg, rgb(255, 170, 0), rgb(255, 196, 0));
        background-size: 0% 3px;
        background-repeat: no-repeat;
        background-position: left bottom;
        transition: .2s;
        padding-bottom: .1rem;
        padding-top: .1rem;
        &:hover {
            background-size: 100% 3px;

        }
    }
}

.links { 
    margin-left: -10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.5rem;
    font-family: 'EquitanSans';
    font-weight: 400;
    font-size: 1rem;
    color: white;
}

.hamburger {
    width: 100%;
    height: 100%;
    margin-right: 2.5%;
    display: flex;
    align-items: flex-end;    
    justify-content: center;
    flex-direction: column;
    gap: 16%;
    display: none;
    &:hover {
        cursor: pointer;
    }
    span {
        width: 35px;
        height: 5px;
        background: rgb(255, 255, 255);
        border-radius: .2rem;
    }
}

.mobile_menu {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #FF991C;
    z-index: 2;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.mobile_menu_x {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: flex-end;
    margin-left: -3%;
    color: white;
    font-size: 3rem;
    &:hover {
        cursor: pointer;
    }
}

.mobile_menu_nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90%;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    margin-bottom: 3%;
}

.services_link, .services_link_two {
    padding-bottom: .5rem;
    padding-top: .5rem;
    padding-left: .5rem;
    padding-right: 2rem;
    margin-right: -1.75rem;
}

.services_options {
    gap: 2%;
    padding-top: 1%;
    display: flex;
    flex-direction: column;
    position: absolute;
    background: #FF991C;
    height: 20vh;
    width: 9%;
    top: 5vh;
    left: 31.3%;
    display: none;
    transition: .2s;
    padding-left: .5%;
    padding-right: .5%;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
    h3 {
        padding: 0;
    }
}

.services_options_two {
    gap: 2%;
    padding-top: 1%;
    display: flex;
    flex-direction: row;
    position: absolute;
    background: #FF991C;
    height: 30vh;
    width: 35%;
    top: 5vh;
    left: 50%;
    display: none;
    transition: .2s;
    padding-left: 1%;
    padding-right: .5%;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
    h3 {
        padding: 0;
        font-size: 1rem;
    }
}

.column_one, .column_two, .column_three {
    height: 100%;
    width: 33.3%;
}

.services_options_cooling {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
    gap: 5.5%;
    padding-top: 11.5%;
    display: flex;
    flex-direction: column;
    position: absolute;
    background: #FF991C;
    height: 15vh;
    width: 123%;
    left: 95%;
    transition: .2s;
    padding-left: 2%;
    padding-right: 2%;
    top: 0;
    display: none;
    h3 {
        padding: 0;
    }
}

.services_options_heating {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
    gap: 3.5%;
    padding-top: 11.5%;
    display: flex;
    flex-direction: column;
    position: absolute;
    background: #FF991C;
    height: 19.7vh;
    width: 123%;
    left: 95%;
    transition: .2s;
    padding-left: 2%;
    padding-right: 2%;
    top: 0%;
    display: none;
    h3 {
        padding: 0;
    }
}

.service_areas:hover ~ .services_areas_options {
    display: flex;
}

.services_areas_options {
    gap: 2%;
    padding-top: 1%;
    display: flex;
    flex-direction: column;
    position: absolute;
    background: #FF991C;
    height: 20vh;
    width: 9%;
    top: 5vh;
    left: 31.3%;
    transition: .2s;
    padding-left: .5%;
    padding-right: .5%;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
    h3 {
        padding: 0;
    }
}

///////////////////////
///////////////////////

.services_options_cooling ~ .services_options_link{
    background-color: black;
}

.cooling_link:hover ~ .services_options_cooling {
    display: flex;
}

.services_options_cooling:hover {
    display: flex;
}

.heating_link:hover ~ .services_options_heating {
    display: flex;
}

.services_options_heating:hover {
    display: flex;
}







///////////////////////
///////////////////////
.logo_link {
    &:hover {
        cursor: pointer;
    }
}

.services_options_link {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    padding-left: 6%;
    margin-left: -5.5%;
    background: #FF991C;

    h3 {
        width: 80%;
        margin: 0;
        padding: 0;
    }
    h2 {
        margin: 0;
        padding: 0;
        width: 20%;
    }
    &:hover {
        background: #f48e12;

    }
}


.services_options_link_sub {
    margin-left: 3.2%;
    padding-top: 3%;
    padding-bottom: 3%;
    justify-content: flex-start;
    display: flex;
    width: 88%;
    align-items: center;
    padding-left: 10%;
    background: #FF991C;
    h3 {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    h2 {
        margin: 0;
        padding: 0;
        width: 0%;
    }
    &:hover {
        background: #f48e12;

    }
}


.services_link:hover ~ .services_options{
    display: flex;
}

.services_link_two:hover ~ .services_options_two{
    display: flex;
}

.services_options:hover {
    display: flex;
}

.services_options_two:hover {
    display: flex;
}


@media ( max-width: 1300px) {
    .links {
        font-size: .8rem;
        gap: 2.5rem;
    }
    .nav img {
        width: 10rem;
        margin-left: 5%;
        margin-top: .2rem;
    }
    .phone {
        font-size: 1rem;
    }
}

@media ( max-width: 950px) {
    .links {
        font-size: .6rem;
        gap: 1.5rem;
    }
    .nav img {
        width: 10rem;
        margin-left: 5%;
        margin-top: .2rem;
    }
    
    .phone {
        font-size: .85rem;
    }
}

////// HAMBURGER-IZE ////// 

@media ( max-width: 750px) {
    .links {
        display: none;
    }
    .nav img {
        width: 10rem;
        margin-top: -.1rem;
    }
    .hamburger {
        display: flex;
    }    
}


@media (max-width: 700px) {
    .nav img {
        width: 7rem;
    }
}